.poster-container {
  position: relative;
  width: 90%;
  height: 200px;
  margin: auto;
}

.description-dark-theme {
  color: #fff;
}

.poster-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
